.gymname {
    justify-items: center;
    background-image: url(images/annie-spratt-pKpipZVVEC0-unsplash.jpg);
    box-sizing: border-box;
    padding: 8px;
    text-align: center;
    width: 100%;
    position: relative;
    opacity: .85;
}
h1 {
    font-size: 60px;
    letter-spacing: 2px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imageblock {
    /*background-color: yellow;*/
    background-image: url(images/sam-moqadam-vOZP2LojrHI-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat
}
.nav {
    border: 1px none lightcoral;
    position: relative;
    text-align: center;
    width: 100%;
    background-position: center  130px;
    background: linear-gradient(rgba(255, 0, 0, .2), rgba(255, 0, 0, .2)), url(images/patrick-hendry-Qt8MRl3BSTo-unsplash.jpg);    
}
.navbutton {
    background: red;
    border: 1px none red;
    border-radius: 4px;
    color: white;
    display: inline-block;
    margin: 25px 50px;
    padding: 8px 16px;
    font-size: 1.85em;
    opacity: .65;
    text-decoration: none;
    
}
.navbutton:hover {
    opacity: 1;
}
.schedblock {
    background-image: url(images/engin-akyurt-BawjznQ3Q8U-unsplash.jpg);
    width: 100%;
    height: 650px;
    align-items: center;
    justify-items: center;
}
.scheduleheadline {
    border: 10px double;
    position: relative;
    top: 30px;
    margin: 0 auto;
    padding: 20px 10px;
    width: 500px;
    background-color: white;
    opacity: .5;
}
h2 {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    font-family: monospace;
    justify-content: center;
}
.tableblock {
    justify-content: center;
    display: flex;
    align-content: center;
    margin: 10px 0px;
}
table, td, thead {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}
th {
    text-align: center;
    font-size: 1.25em;
    padding: 5px;
}
table {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 75px;
    background-color: white;
}
.form {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
input, button {
    height: 30px;
}
footer {
    justify-content: center;
    text-align: center;
    display: flex;
    position: relative;
    border-top: 2px solid teal;
    border-top-width: 100%;
    margin-top: 10px;
}
